.app-wrapper {
  width: 100%;
  display: grid;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: content;
  background-color: yellow;
}

.app-wrapper-header {
  grid-area: header;
  background-color: green;
}

.app-wrapper-nav {
  grid-area: nav;
  background-color: royalblue;
}
